/* * {
	box-sizing: border-box;
} */
html {
	height: 100%;
}

body {        
    touch-action: none;
    overflow: hidden;
    margin: 0px; 
	font-family: Roboto;
    color: #444;
    /* height: 100vh; */
    /* width: 100vw; */
	/* position: relative; */
	/* background-color: #484848; */
}
#game {    
    width: 100vw;
	height: 100vh;
    background-image: linear-gradient(#51c6e9, #f2fff8);
	overflow: hidden;
	transform: translate(0, 0);

	/* height: 100%; */
	/* position: relative; */	
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: center; */
	/* align-items: center; */
}

.scenes {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* justify-content: flex-start; */
	/* transition: .5s cubic-bezier(1, 0, 0, 1) all; */
}

.scene {
	z-index: 1;
}

#toggleFullscreen {
    position: absolute;    
	bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

h1 {
	color: white
}

#spinner {
	/* width: 400px;
	height: 400px; */
	min-width: 380px;
	min-height: 380px;
	align-items: center;
	position: relative;
	/* overflow: hidden; */
}

#clicker {
	position: absolute;
	top: 0px;
	left: calc(50% - 25px);
	width: 45px;
	height: 40px;
	z-index: 2;
	transform-origin: 50% 20px;
	pointer-events: none;
}

#wheel {
	position: absolute;
	top: 30px;
	left: 30px;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	box-sizing: border-box;
	border-radius: 100%;
	cursor: pointer;
	border: solid white 10px;
	will-change: transform;
	z-index: 1;
}

/* #wheel polygon {
	transform-origin: center;
} */

#shaddow {
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border-radius: 100%;
	/* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.shaddow {
	box-shadow: 
		0 14px 28px rgba(0,0,0,0.25), 
		0 10px 10px rgba(0,0,0,0.22);
}

#splineMask > path{
	fill: black;
}

#wheel > #middle{
	fill: white;
}

#wheel > #knob{
	/* fill: #ddd; */
	fill: #ffffff;
}

#wheel > text{
	fill: white;
	font-weight: bold;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media screen and ( max-height: 500px ) {
	h1{
		display: none;
	}
}

#bee {
	position: absolute;
	z-index: 1000;
	top: 18px;
	right: 10px;
	transform: translateX(110px);

	animation-duration: 1.5s;
  	/* animation-name: beeHover; */
  	animation-iteration-count: infinite;  	
}

@keyframes beeHover {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(15px);
	}	
	100% {
		transform: translateY(0px);
	}	
}


#msg {
	z-index: 1000;
	position: absolute;
    background: #fff35f;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 180px);    
    border-radius: 2rem;
    border: 0.5rem solid #ffffff;
	padding: 1rem 1rem 0.5rem;

	display: none;
	flex-direction: column;
    align-items: center;
}

#msg .msg-body {
	font-size: 1.25rem;
	font-weight: 500;
}
#msg .msg-footer .btn:not(:last-child) {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-3 {
	margin-bottom: 1rem;
}

.d-none {
	display: none;
}
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.p3 {
	padding: 1rem;
}
.text-white {
	color: #ffffff;
}




/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: -20px -20px;
}

.btn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


/* 

@keyframes sceneOut {
	0% {
		transform: translateY(0px);
	}
	90% {
		transform: translateY(15px);
		opacity: 1;
	}	
	100% {
		transform: translateY(-100vw);
		opacity: 0;
	}	
}

.scene-1 {	
	animation-duration: 2s;
  	animation-name: sceneOut; 
  	animation-iteration-count: infinite;  	
} */


/* sun */
#sun {	
	display: none;
	z-index: 2;
	position: absolute;
	overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	background-color:rgb(255,234,116);	
}

#sun .rays {                
	background-color:rgb(253,167,64);
	-webkit-mask: repeating-conic-gradient(#000 0% 4%, transparent 0% 8.33%);
	mask: repeating-conic-gradient(#000 0% 4%, transparent 0% 8.33%);
	width: 200vh;
	height: 200vh;
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
	animation: 20s infinite linear spin;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);                    
	}               
	100% {
		transform: rotate(360deg);                             
	}
}
#sun .core {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-10rem) translateY(-10rem);
	/* background: radial-gradient(closest-side, #ffea74 85%, transparent 100%); */
	background-color: #ffea74;
	display: flex;
    align-items: center;
    justify-content: center;
}


#easel {
	background-image: url(./img/easel.png);
    background-repeat: no-repeat;
    background-size: cover;
	min-width: 390px;
    min-height: 480px;
	display: flex;
	justify-content: center;
}

#easel #shape{
	margin-top: 5rem;
}


/* */
.cloud {
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
    display: inline-block;
    height: 1em;
    /* left: 50%; */
    margin-left: -1.5em;
    position: absolute;
    /* top: 50%; */
    width: 3em;
    -webkit-filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
}
.cloud:after,
.cloud:before {
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;
}
.cloud:after {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
    height: 1em;
    right: .4em;
    top: -.5em;
    width: 1em;
}
.cloud:before {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
    height: 1.6em;
    left: .4em;
    top: -.75em;
    width: 1.6em;
}

.cloud-1 {	
	top: 5rem;
	animation: 60s linear infinite -20s floatLeft;	
}
.cloud-2 {	
	top: 7rem;
	animation: 52s linear infinite -34s floatLeft;
	left: -2rem;
}
.cloud-3 {
	top: 9rem;
	animation: 78s linear infinite 0s floatLeft;
}
@keyframes floatLeft {
	0% {
		transform: translateX(115vw) scale(3);
	}
	100% {
		transform: translateX(-8rem) scale(3);
	}
}
